<body>
  <div class="container">
    <h2>User info</h2>
      <%= form_for @user do |f| %>

        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= @user.errors.count %> errors prohibited this obj from being saved:
            </h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div>
          <%= f.label :name, "Name" %><br>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label :profile_image, "image" %>
          <%= f.attachment_field :profile_image, placeholder: "イメージ画像" %>
        </div>
        <div>
          <%= f.label :introduction, "Introduction" %><br>
          <%= f.text_area :introduction %>
        </div>
        <div>
          <%= f.submit %>
        </div>
      <% end %>
  </div>
</body>
